@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
.construction {
    &-page-title {
        margin-left: 30px;
        font-size: 1rem;
    }
    &-item {
        &-view-btn {
            transition: opacity 0.3s;
            position: absolute;
            top: 50%;
            transform: translate(-50%, -50%);
            left: 50%;
            border: 2px solid #fff;
            padding: 10px 20px;
            z-index: 10;
            opacity: 0;
            text-transform: uppercase;
            color: #fff;
            font-size: 14px;
        }
        &-title {
            background: #e2e2e2;
            font-size: 1.2rem;
            font-weight: bold;
            padding: 1rem 1.5rem;
            position: relative;
        }
        &-text {
            color: #272727;
            text-overflow: clip;
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
        }
        .effect {
            overflow: hidden;
            &-hover {
                position: relative;
                &:before {
                    content: " ";
                    transition: opacity 0.3s;
                    position: absolute;
                    height: 100%;
                    width: 100%;
                    background: #000;
                    opacity: 0;
                }
            }
            img {
                transition: opacity 0.35s, transform 0.35s;
                display: block;
            }
            &:hover {
                img {
                    transform: scale(1.1);
                    filter: blur(3px);
                }
                .effect-hover {
                    &:before {
                        opacity: .5;
                        z-index: 9;
                    }
                }
                .construction-item-view-btn {
                    opacity: 1;
                }
            }
        }
    }
    &-type-list {
        font-size: 16px;
        a {
            color: rgba(0, 0, 0, .85)
        }
        .active {
            font-weight: bold;
        }
        .ant-collapse-item {
            &:last-child {
                border: 0;
            }
            &-disabled {
                .ant-collapse-header {
                    background-color: #fff;
                    cursor: unset!important;
                }
                .arrow {
                    display: none!important;
                }
            }
        }
    }
    &-status-list {
        &-item {
            color: rgba(0, 0, 0, .85);
            padding: 8px 0 8px 32px;
            font-size: 16px;
        }
    }
}

@include media-breakpoint-up(xl) {
    .construction {
        &-page-title {
            margin-left: 0;
            font-size: 1.2rem;
        }
        &-list {
            margin-left: -45px!important;
            margin-right: -45px!important;
        }
    }
}