@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
.construction {
    &-detail {
        &-section {
            font-size: 18px;
            line-height: 1.8;
            padding: 0 30px;
            &-label {
                font-weight: bold;
                font-size: 20px;
                margin-bottom: 10px;
            }
        }
        &-next-prev {
            padding: 0 30px;
        }
    }
    &-next,
    &-prev {
        color: #000;
        border: 1px solid #000;
        width: 120px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.lightbox {
    &-imgs {
        padding: 0 30px;
    }
    &-thumb {
        cursor: pointer;
        overflow: hidden;
        transition: all 0.3s ease-in-out;
        img {
            transition: all 0.3s ease-in-out;
            display: block;
        }
        &:hover {
            box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
            img {
                transform: scale(1.1);
            }
        }
    }
}

@include media-breakpoint-up(lg) {
    .construction {
        &-detail {
            &-section {
                padding-left: 0;
                padding-right: 0;
            }
            &-next-prev {
                padding-left: 0;
                padding-right: 0;
            }
        }
    }
    .lightbox {
        &-imgs {
            padding-left: 0;
            padding-right: 0;
        }
    }
}