/*-------------------------------------*	HINT.css - A CSS tooltip library
\*-------------------------------------*/

/**
 * HINT.css is a tooltip library made in pure CSS.
 *
 * Source: https://github.com/chinchang/hint.css
 * Demo: http://kushagragour.in/lab/hint/
 *
 * Release under The MIT License
 *
 */

/**
 * source: hint-core.scss
 *
 * Defines the basic styling for the tooltip.
 * Each tooltip is made of 2 parts:
 * 	1) body (:after)
 * 	2) arrow (:before)
 *
 * Classes added:
 * 	1) hint
 */

[data-hint] {
  position: relative;
  display: inline-block;
  /**
	 * tooltip arrow
	 */
  /**
	 * tooltip body
	 */
}

[data-hint]:before,
[data-hint]:after {
  position: absolute;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  visibility: hidden;
  opacity: 0;
  z-index: 1000000;
  pointer-events: none;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  -webkit-transition-delay: 0ms;
  transition-delay: 0ms;
}

[data-hint]:hover:before,
[data-hint]:hover:after {
  visibility: visible;
  opacity: 1;
}

[data-hint]:hover:before,
[data-hint]:hover:after {
  -webkit-transition-delay: 100ms;
  transition-delay: 100ms;
}

[data-hint]:before {
  content: '';
  position: absolute;
  background: transparent;
  border: 6px solid transparent;
  z-index: 1000001;
}

[data-hint]:after {
  content: attr(data-hint);
  background: #383838;
  color: white;
  padding: 8px 10px;
  font-size: 12px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 12px;
  white-space: nowrap;
}

[data-hint='']:before,
[data-hint='']:after {
  display: none !important;
}

/**
 * source: hint-position.scss
 *
 * Defines the positoning logic for the tooltips.
 *
 * Classes added:
 * 	1) hint--top
 * 	2) hint--bottom
 * 	3) hint--left
 * 	4) hint--right
 */

/**
 * set default color for tooltip arrows
 */

._28fZUGLzgepsNsQ-LC9R8X:before {
  border-top-color: #383838;
}

._1F1TnQNaEoOvp8Pidg7xYb:before {
  border-top-color: #383838;
}

._3h9tqhBvCMdtG4M0oZd7r8:before {
  border-top-color: #383838;
}

._1nUdkSGxAqkkbs-jbWpJ9_:before {
  border-bottom-color: #383838;
}

._22RHnuBe7fQaU8W1D4QRvQ:before {
  border-bottom-color: #383838;
}

.HAAyhRiYgSMxQGEHFaqh2:before {
  border-bottom-color: #383838;
}

._27tf7cKIK_vXAXI3nEb4Fs:before {
  border-left-color: #383838;
}

.gwaIAoubOlXZU1d5UFH8_:before {
  border-right-color: #383838;
}

/**
 * top tooltip
 */

._3h9tqhBvCMdtG4M0oZd7r8:before {
  margin-bottom: -12px;
}

._3h9tqhBvCMdtG4M0oZd7r8:before,
._3h9tqhBvCMdtG4M0oZd7r8:after {
  bottom: 100%;
  left: 50%;
}

._3h9tqhBvCMdtG4M0oZd7r8:after,
._3h9tqhBvCMdtG4M0oZd7r8:before {
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

._3h9tqhBvCMdtG4M0oZd7r8:hover:after,
._3h9tqhBvCMdtG4M0oZd7r8:hover:before,
._3h9tqhBvCMdtG4M0oZd7r8:focus:after,
._3h9tqhBvCMdtG4M0oZd7r8:focus:before {
  -webkit-transform: translateX(-50%) translateY(-8px);
  transform: translateX(-50%) translateY(-8px);
}

/**
 * bottom tooltip
 */

.HAAyhRiYgSMxQGEHFaqh2:before {
  margin-top: -12px;
}

.HAAyhRiYgSMxQGEHFaqh2:before,
.HAAyhRiYgSMxQGEHFaqh2:after {
  top: 100%;
  left: 50%;
}

.HAAyhRiYgSMxQGEHFaqh2:after,
.HAAyhRiYgSMxQGEHFaqh2:before {
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.HAAyhRiYgSMxQGEHFaqh2:hover:after,
.HAAyhRiYgSMxQGEHFaqh2:hover:before,
.HAAyhRiYgSMxQGEHFaqh2:focus:after,
.HAAyhRiYgSMxQGEHFaqh2:focus:before {
  -webkit-transform: translateX(-50%) translateY(8px);
  transform: translateX(-50%) translateY(8px);
}

/**
 * right tooltip
 */

.gwaIAoubOlXZU1d5UFH8_:before {
  margin-left: -12px;
  margin-bottom: -6px;
}

.gwaIAoubOlXZU1d5UFH8_:after {
  margin-bottom: -14px;
}

.gwaIAoubOlXZU1d5UFH8_:before,
.gwaIAoubOlXZU1d5UFH8_:after {
  left: 100%;
  bottom: 50%;
}

.gwaIAoubOlXZU1d5UFH8_:hover:after,
.gwaIAoubOlXZU1d5UFH8_:hover:before,
.gwaIAoubOlXZU1d5UFH8_:focus:after,
.gwaIAoubOlXZU1d5UFH8_:focus:before {
  -webkit-transform: translateX(8px);
  transform: translateX(8px);
}

/**
 * left tooltip
 */

._27tf7cKIK_vXAXI3nEb4Fs:before {
  margin-right: -12px;
  margin-bottom: -6px;
}

._27tf7cKIK_vXAXI3nEb4Fs:after {
  margin-bottom: -14px;
}

._27tf7cKIK_vXAXI3nEb4Fs:before,
._27tf7cKIK_vXAXI3nEb4Fs:after {
  right: 100%;
  bottom: 50%;
}

._27tf7cKIK_vXAXI3nEb4Fs:hover:after,
._27tf7cKIK_vXAXI3nEb4Fs:hover:before,
._27tf7cKIK_vXAXI3nEb4Fs:focus:after,
._27tf7cKIK_vXAXI3nEb4Fs:focus:before {
  -webkit-transform: translateX(-8px);
  transform: translateX(-8px);
}

/**
 * top-left tooltip
 */

._28fZUGLzgepsNsQ-LC9R8X:before {
  margin-bottom: -12px;
}

._28fZUGLzgepsNsQ-LC9R8X:before,
._28fZUGLzgepsNsQ-LC9R8X:after {
  bottom: 100%;
  left: 50%;
}

._28fZUGLzgepsNsQ-LC9R8X:after,
._28fZUGLzgepsNsQ-LC9R8X:before {
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
}

._28fZUGLzgepsNsQ-LC9R8X:after {
  margin-left: 6px;
}

._28fZUGLzgepsNsQ-LC9R8X:hover:after,
._28fZUGLzgepsNsQ-LC9R8X:hover:before,
._28fZUGLzgepsNsQ-LC9R8X:focus:after,
._28fZUGLzgepsNsQ-LC9R8X:focus:before {
  -webkit-transform: translateX(-100%) translateY(-8px);
  transform: translateX(-100%) translateY(-8px);
}

/**
 * top-right tooltip
 */

._1F1TnQNaEoOvp8Pidg7xYb:before {
  margin-bottom: -12px;
}

._1F1TnQNaEoOvp8Pidg7xYb:before,
._1F1TnQNaEoOvp8Pidg7xYb:after {
  bottom: 100%;
  left: 50%;
}

._1F1TnQNaEoOvp8Pidg7xYb:after,
._1F1TnQNaEoOvp8Pidg7xYb:before {
  -webkit-transform: translateX(0);
  transform: translateX(0);
}

._1F1TnQNaEoOvp8Pidg7xYb:after {
  margin-left: -6px;
}

._1F1TnQNaEoOvp8Pidg7xYb:hover:after,
._1F1TnQNaEoOvp8Pidg7xYb:hover:before,
._1F1TnQNaEoOvp8Pidg7xYb:focus:after,
._1F1TnQNaEoOvp8Pidg7xYb:focus:before {
  -webkit-transform: translateY(-8px);
  transform: translateY(-8px);
}

/**
 * bottom-left tooltip
 */

._1nUdkSGxAqkkbs-jbWpJ9_:before {
  margin-top: -12px;
}

._1nUdkSGxAqkkbs-jbWpJ9_:before,
._1nUdkSGxAqkkbs-jbWpJ9_:after {
  top: 100%;
  left: 50%;
}

._1nUdkSGxAqkkbs-jbWpJ9_:after,
._1nUdkSGxAqkkbs-jbWpJ9_:before {
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
}

._1nUdkSGxAqkkbs-jbWpJ9_:after {
  margin-left: 6px;
}

._1nUdkSGxAqkkbs-jbWpJ9_:hover:after,
._1nUdkSGxAqkkbs-jbWpJ9_:hover:before,
._1nUdkSGxAqkkbs-jbWpJ9_:focus:after,
._1nUdkSGxAqkkbs-jbWpJ9_:focus:before {
  -webkit-transform: translateX(-100%) translateY(8px);
  transform: translateX(-100%) translateY(8px);
}

/**
 * bottom-right tooltip
 */

._22RHnuBe7fQaU8W1D4QRvQ:before {
  margin-top: -12px;
}

._22RHnuBe7fQaU8W1D4QRvQ:before,
._22RHnuBe7fQaU8W1D4QRvQ:after {
  top: 100%;
  left: 50%;
}

._22RHnuBe7fQaU8W1D4QRvQ:after,
._22RHnuBe7fQaU8W1D4QRvQ:before {
  -webkit-transform: translateX(0);
  transform: translateX(0);
}

._22RHnuBe7fQaU8W1D4QRvQ:after {
  margin-left: -6px;
}

._22RHnuBe7fQaU8W1D4QRvQ:hover:after,
._22RHnuBe7fQaU8W1D4QRvQ:hover:before,
._22RHnuBe7fQaU8W1D4QRvQ:focus:after,
._22RHnuBe7fQaU8W1D4QRvQ:focus:before {
  -webkit-transform: translateY(8px);
  transform: translateY(8px);
}

/**
 * source: hint-sizes.scss
 *
 * Defines width restricted tooltips that can span
 * across multiple lines.
 *
 * Classes added:
 * 	1) hint--small
 * 	2) hint--medium
 * 	3) hint--large
 *
 */

._1UwknFwlsxwBqBRkh2q6fW:after,
._34zKeJP_cKcf6fNgtVw19B:after,
._1qxkHsPCBUREWde-z6SS3M:after {
  white-space: normal;
  line-height: 1.4em;
}

._1UwknFwlsxwBqBRkh2q6fW:after {
  width: 80px;
}

._34zKeJP_cKcf6fNgtVw19B:after {
  width: 150px;
}

._1qxkHsPCBUREWde-z6SS3M:after {
  width: 300px;
}

/**
 * source: hint-theme.scss
 *
 * Defines basic theme for tooltips.
 *
 */

[data-hint] {
  /**
	 * tooltip body
	 */
}

[data-hint]:after {
  text-shadow: 0 -1px 0px black;
  -webkit-box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
          box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
}

/**
 * source: hint-color-types.scss
 *
 * Contains tooltips of various types based on color differences.
 *
 * Classes added:
 * 	1) hint--error
 * 	2) hint--warning
 * 	3) hint--info
 * 	4) hint--success
 *
 */

/**
 * Error
 */

._29hzgC1pKE1sLBTLeQVI1S:after {
  background-color: #b34e4d;
  text-shadow: 0 -1px 0px #592726;
}

._29hzgC1pKE1sLBTLeQVI1S._28fZUGLzgepsNsQ-LC9R8X:before {
  border-top-color: #b34e4d;
}

._29hzgC1pKE1sLBTLeQVI1S._1F1TnQNaEoOvp8Pidg7xYb:before {
  border-top-color: #b34e4d;
}

._29hzgC1pKE1sLBTLeQVI1S._3h9tqhBvCMdtG4M0oZd7r8:before {
  border-top-color: #b34e4d;
}

._29hzgC1pKE1sLBTLeQVI1S._1nUdkSGxAqkkbs-jbWpJ9_:before {
  border-bottom-color: #b34e4d;
}

._29hzgC1pKE1sLBTLeQVI1S._22RHnuBe7fQaU8W1D4QRvQ:before {
  border-bottom-color: #b34e4d;
}

._29hzgC1pKE1sLBTLeQVI1S.HAAyhRiYgSMxQGEHFaqh2:before {
  border-bottom-color: #b34e4d;
}

._29hzgC1pKE1sLBTLeQVI1S._27tf7cKIK_vXAXI3nEb4Fs:before {
  border-left-color: #b34e4d;
}

._29hzgC1pKE1sLBTLeQVI1S.gwaIAoubOlXZU1d5UFH8_:before {
  border-right-color: #b34e4d;
}

/**
 * Warning
 */

._1DMQnkoeyGYu93ttcY5cFH:after {
  background-color: #c09854;
  text-shadow: 0 -1px 0px #6c5328;
}

._1DMQnkoeyGYu93ttcY5cFH._28fZUGLzgepsNsQ-LC9R8X:before {
  border-top-color: #c09854;
}

._1DMQnkoeyGYu93ttcY5cFH._1F1TnQNaEoOvp8Pidg7xYb:before {
  border-top-color: #c09854;
}

._1DMQnkoeyGYu93ttcY5cFH._3h9tqhBvCMdtG4M0oZd7r8:before {
  border-top-color: #c09854;
}

._1DMQnkoeyGYu93ttcY5cFH._1nUdkSGxAqkkbs-jbWpJ9_:before {
  border-bottom-color: #c09854;
}

._1DMQnkoeyGYu93ttcY5cFH._22RHnuBe7fQaU8W1D4QRvQ:before {
  border-bottom-color: #c09854;
}

._1DMQnkoeyGYu93ttcY5cFH.HAAyhRiYgSMxQGEHFaqh2:before {
  border-bottom-color: #c09854;
}

._1DMQnkoeyGYu93ttcY5cFH._27tf7cKIK_vXAXI3nEb4Fs:before {
  border-left-color: #c09854;
}

._1DMQnkoeyGYu93ttcY5cFH.gwaIAoubOlXZU1d5UFH8_:before {
  border-right-color: #c09854;
}

/**
 * Info
 */

._27KfsBsf0dE_2bHynxgG2B:after {
  background-color: #3986ac;
  text-shadow: 0 -1px 0px #1a3c4d;
}

._27KfsBsf0dE_2bHynxgG2B._28fZUGLzgepsNsQ-LC9R8X:before {
  border-top-color: #3986ac;
}

._27KfsBsf0dE_2bHynxgG2B._1F1TnQNaEoOvp8Pidg7xYb:before {
  border-top-color: #3986ac;
}

._27KfsBsf0dE_2bHynxgG2B._3h9tqhBvCMdtG4M0oZd7r8:before {
  border-top-color: #3986ac;
}

._27KfsBsf0dE_2bHynxgG2B._1nUdkSGxAqkkbs-jbWpJ9_:before {
  border-bottom-color: #3986ac;
}

._27KfsBsf0dE_2bHynxgG2B._22RHnuBe7fQaU8W1D4QRvQ:before {
  border-bottom-color: #3986ac;
}

._27KfsBsf0dE_2bHynxgG2B.HAAyhRiYgSMxQGEHFaqh2:before {
  border-bottom-color: #3986ac;
}

._27KfsBsf0dE_2bHynxgG2B._27tf7cKIK_vXAXI3nEb4Fs:before {
  border-left-color: #3986ac;
}

._27KfsBsf0dE_2bHynxgG2B.gwaIAoubOlXZU1d5UFH8_:before {
  border-right-color: #3986ac;
}

/**
 * Success
 */

._3e1CeLsGP4ICEW_yzVeK-6:after {
  background-color: #458746;
  text-shadow: 0 -1px 0px #1a321a;
}

._3e1CeLsGP4ICEW_yzVeK-6._28fZUGLzgepsNsQ-LC9R8X:before {
  border-top-color: #458746;
}

._3e1CeLsGP4ICEW_yzVeK-6._1F1TnQNaEoOvp8Pidg7xYb:before {
  border-top-color: #458746;
}

._3e1CeLsGP4ICEW_yzVeK-6._3h9tqhBvCMdtG4M0oZd7r8:before {
  border-top-color: #458746;
}

._3e1CeLsGP4ICEW_yzVeK-6._1nUdkSGxAqkkbs-jbWpJ9_:before {
  border-bottom-color: #458746;
}

._3e1CeLsGP4ICEW_yzVeK-6._22RHnuBe7fQaU8W1D4QRvQ:before {
  border-bottom-color: #458746;
}

._3e1CeLsGP4ICEW_yzVeK-6.HAAyhRiYgSMxQGEHFaqh2:before {
  border-bottom-color: #458746;
}

._3e1CeLsGP4ICEW_yzVeK-6._27tf7cKIK_vXAXI3nEb4Fs:before {
  border-left-color: #458746;
}

._3e1CeLsGP4ICEW_yzVeK-6.gwaIAoubOlXZU1d5UFH8_:before {
  border-right-color: #458746;
}

/**
 * source: hint-always.scss
 *
 * Defines a persisted tooltip which shows always.
 *
 * Classes added:
 * 	1) hint--always
 *
 */

._3G8iaGTrfnUcMsGkHbICjf:after,
._3G8iaGTrfnUcMsGkHbICjf:before {
  opacity: 1;
  visibility: visible;
}

._3G8iaGTrfnUcMsGkHbICjf._3h9tqhBvCMdtG4M0oZd7r8:after,
._3G8iaGTrfnUcMsGkHbICjf._3h9tqhBvCMdtG4M0oZd7r8:before {
  -webkit-transform: translateX(-50%) translateY(-8px);
  transform: translateX(-50%) translateY(-8px);
}

._3G8iaGTrfnUcMsGkHbICjf._28fZUGLzgepsNsQ-LC9R8X:after,
._3G8iaGTrfnUcMsGkHbICjf._28fZUGLzgepsNsQ-LC9R8X:before {
  -webkit-transform: translateX(-100%) translateY(-8px);
  transform: translateX(-100%) translateY(-8px);
}

._3G8iaGTrfnUcMsGkHbICjf._1F1TnQNaEoOvp8Pidg7xYb:after,
._3G8iaGTrfnUcMsGkHbICjf._1F1TnQNaEoOvp8Pidg7xYb:before {
  -webkit-transform: translateY(-8px);
  transform: translateY(-8px);
}

._3G8iaGTrfnUcMsGkHbICjf.HAAyhRiYgSMxQGEHFaqh2:after,
._3G8iaGTrfnUcMsGkHbICjf.HAAyhRiYgSMxQGEHFaqh2:before {
  -webkit-transform: translateX(-50%) translateY(8px);
  transform: translateX(-50%) translateY(8px);
}

._3G8iaGTrfnUcMsGkHbICjf._1nUdkSGxAqkkbs-jbWpJ9_:after,
._3G8iaGTrfnUcMsGkHbICjf._1nUdkSGxAqkkbs-jbWpJ9_:before {
  -webkit-transform: translateX(-100%) translateY(8px);
  transform: translateX(-100%) translateY(8px);
}

._3G8iaGTrfnUcMsGkHbICjf._22RHnuBe7fQaU8W1D4QRvQ:after,
._3G8iaGTrfnUcMsGkHbICjf._22RHnuBe7fQaU8W1D4QRvQ:before {
  -webkit-transform: translateY(8px);
  transform: translateY(8px);
}

._3G8iaGTrfnUcMsGkHbICjf._27tf7cKIK_vXAXI3nEb4Fs:after,
._3G8iaGTrfnUcMsGkHbICjf._27tf7cKIK_vXAXI3nEb4Fs:before {
  -webkit-transform: translateX(-8px);
  transform: translateX(-8px);
}

._3G8iaGTrfnUcMsGkHbICjf.gwaIAoubOlXZU1d5UFH8_:after,
._3G8iaGTrfnUcMsGkHbICjf.gwaIAoubOlXZU1d5UFH8_:before {
  -webkit-transform: translateX(8px);
  transform: translateX(8px);
}

/**
 * source: hint-rounded.scss
 *
 * Defines rounded corner tooltips.
 *
 * Classes added:
 * 	1) hint--rounded
 *
 */

.jva1Uz5ehba7HQmFzhrni:after {
  border-radius: 4px;
}

/**
 * source: hint-effects.scss
 *
 * Defines various transition effects for the tooltips.
 *
 * Classes added:
 * 	1) hint--no-animate
 * 	2) hint--bounce
 *
 */

._26_5cF8w_SpGMYi2nop8Yr:before,
._26_5cF8w_SpGMYi2nop8Yr:after {
  -webkit-transition-duration: 0ms;
  transition-duration: 0ms;
}

._3CJ6Z91rSZhw2dTnoi7IZx:before,
._3CJ6Z91rSZhw2dTnoi7IZx:after {
  -webkit-transition: opacity 0.3s ease, visibility 0.3s ease, -webkit-transform 0.3s cubic-bezier(0.71, 1.7, 0.77, 1.24);
  transition: opacity 0.3s ease, visibility 0.3s ease, -webkit-transform 0.3s cubic-bezier(0.71, 1.7, 0.77, 1.24);
  transition: opacity 0.3s ease, visibility 0.3s ease, transform 0.3s cubic-bezier(0.71, 1.7, 0.77, 1.24);
  transition: opacity 0.3s ease, visibility 0.3s ease, transform 0.3s cubic-bezier(0.71, 1.7, 0.77, 1.24), -webkit-transform 0.3s cubic-bezier(0.71, 1.7, 0.77, 1.24);
}

/**
 * based on hint.css with html content support
 */

._1gtKHUD6jbfx2tjNwcIHnU.QYZoigEBgBmv7kkqVdhjg:after {
  display: none;
  opacity: 0;
}

._1hDEn7Vzgm_uIlkfqfJNV3 {
  background: #383838;
  color: white;
  padding: 8px 10px;
  font-size: 12px;
  line-height: 12px;
  pointer-events: none;
}

._3FvCkCh5--bA_KB5h7LuG2 ._1hDEn7Vzgm_uIlkfqfJNV3 {
  pointer-events: auto;
}

._1gtKHUD6jbfx2tjNwcIHnU {
  position: relative;
  display: inline-block;
  /**
   * tooltip arrow
   */
}

._1gtKHUD6jbfx2tjNwcIHnU:before,
._1gtKHUD6jbfx2tjNwcIHnU:after {
  position: absolute;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  visibility: hidden;
  opacity: 0;
  z-index: 1000000;
  pointer-events: none;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  -webkit-transition-delay: 0ms;
  transition-delay: 0ms;
}

._1gtKHUD6jbfx2tjNwcIHnU:hover:before,
._1gtKHUD6jbfx2tjNwcIHnU:hover:after {
  visibility: visible;
  opacity: 1;
}

._1gtKHUD6jbfx2tjNwcIHnU:hover:before,
._1gtKHUD6jbfx2tjNwcIHnU:hover:after {
  -webkit-transition-delay: 100ms;
  transition-delay: 100ms;
}

._1gtKHUD6jbfx2tjNwcIHnU:before {
  content: '';
  position: absolute;
  background: transparent;
  border: 6px solid transparent;
  z-index: 1000001;
}

._1gtKHUD6jbfx2tjNwcIHnU ._1hDEn7Vzgm_uIlkfqfJNV3 {
  position: absolute;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  visibility: hidden;
  opacity: 0;
  z-index: 1000000;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  -webkit-transition-delay: 0ms;
  transition-delay: 0ms;
}

._1gtKHUD6jbfx2tjNwcIHnU:hover ._1hDEn7Vzgm_uIlkfqfJNV3,
._1gtKHUD6jbfx2tjNwcIHnU:focus ._1hDEn7Vzgm_uIlkfqfJNV3 {
  visibility: visible;
  opacity: 1;
}

._1gtKHUD6jbfx2tjNwcIHnU:hover ._1hDEn7Vzgm_uIlkfqfJNV3 {
  -webkit-transition-delay: 100ms;
  transition-delay: 100ms;
}

._1gtKHUD6jbfx2tjNwcIHnU.tGYamlEOzkXhdgZWWK5cj:before,
._1gtKHUD6jbfx2tjNwcIHnU.tGYamlEOzkXhdgZWWK5cj:after {
  -webkit-transition: none;
  transition: none;
}

._1gtKHUD6jbfx2tjNwcIHnU.tGYamlEOzkXhdgZWWK5cj ._1hDEn7Vzgm_uIlkfqfJNV3 {
  -webkit-transition: none;
  transition: none;
}

/**
 * top tooltip
 */

._3h9tqhBvCMdtG4M0oZd7r8 ._1hDEn7Vzgm_uIlkfqfJNV3 {
  bottom: 100%;
  left: 50%;
}

._3h9tqhBvCMdtG4M0oZd7r8:before,
._3h9tqhBvCMdtG4M0oZd7r8 ._1hDEn7Vzgm_uIlkfqfJNV3 {
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

._3h9tqhBvCMdtG4M0oZd7r8 ._1hDEn7Vzgm_uIlkfqfJNV3:after {
  content: ' ';
  position: absolute;
  top: 100%;
  left: 0;
  height: 12px;
  width: 100%;
  opacity: 0;
  background-color: red;
}

._3h9tqhBvCMdtG4M0oZd7r8:hover ._1hDEn7Vzgm_uIlkfqfJNV3,
._3h9tqhBvCMdtG4M0oZd7r8:focus ._1hDEn7Vzgm_uIlkfqfJNV3 {
  -webkit-transform: translateX(-50%) translateY(-8px);
  transform: translateX(-50%) translateY(-8px);
}

._28fZUGLzgepsNsQ-LC9R8X ._1hDEn7Vzgm_uIlkfqfJNV3 {
  bottom: 100%;
  left: 50%;
}

._28fZUGLzgepsNsQ-LC9R8X:before,
._28fZUGLzgepsNsQ-LC9R8X ._1hDEn7Vzgm_uIlkfqfJNV3 {
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
}

._28fZUGLzgepsNsQ-LC9R8X:before {
  margin-left: 6px;
}

._28fZUGLzgepsNsQ-LC9R8X ._1hDEn7Vzgm_uIlkfqfJNV3 {
  margin-left: 12px;
}

._28fZUGLzgepsNsQ-LC9R8X ._1hDEn7Vzgm_uIlkfqfJNV3:after {
  content: ' ';
  position: absolute;
  top: 100%;
  left: 0;
  height: 12px;
  width: 100%;
  opacity: 0;
  background-color: red;
}

._28fZUGLzgepsNsQ-LC9R8X:hover ._1hDEn7Vzgm_uIlkfqfJNV3,
._28fZUGLzgepsNsQ-LC9R8X:focus ._1hDEn7Vzgm_uIlkfqfJNV3 {
  -webkit-transform: translateX(-100%) translateY(-8px);
  transform: translateX(-100%) translateY(-8px);
}

._1F1TnQNaEoOvp8Pidg7xYb ._1hDEn7Vzgm_uIlkfqfJNV3 {
  bottom: 100%;
  left: 50%;
}

._1F1TnQNaEoOvp8Pidg7xYb:before,
._1F1TnQNaEoOvp8Pidg7xYb ._1hDEn7Vzgm_uIlkfqfJNV3 {
  -webkit-transform: translateX(0);
  transform: translateX(0);
}

._1F1TnQNaEoOvp8Pidg7xYb:before {
  margin-left: -6px;
}

._1F1TnQNaEoOvp8Pidg7xYb ._1hDEn7Vzgm_uIlkfqfJNV3 {
  margin-left: -12px;
}

._1F1TnQNaEoOvp8Pidg7xYb ._1hDEn7Vzgm_uIlkfqfJNV3:after {
  content: ' ';
  position: absolute;
  top: 100%;
  left: 0;
  height: 12px;
  width: 100%;
  opacity: 0;
  background-color: red;
}

._1F1TnQNaEoOvp8Pidg7xYb:hover ._1hDEn7Vzgm_uIlkfqfJNV3,
._1F1TnQNaEoOvp8Pidg7xYb:focus ._1hDEn7Vzgm_uIlkfqfJNV3 {
  -webkit-transform: translateY(-8px);
  transform: translateY(-8px);
}

/**
 * bottom tooltip
 */

.HAAyhRiYgSMxQGEHFaqh2 ._1hDEn7Vzgm_uIlkfqfJNV3 {
  top: 100%;
  left: 50%;
}

.HAAyhRiYgSMxQGEHFaqh2:before,
.HAAyhRiYgSMxQGEHFaqh2 ._1hDEn7Vzgm_uIlkfqfJNV3 {
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.HAAyhRiYgSMxQGEHFaqh2 ._1hDEn7Vzgm_uIlkfqfJNV3:after {
  content: ' ';
  position: absolute;
  top: -12px;
  left: 0;
  height: 12px;
  width: 100%;
  opacity: 0;
  background-color: red;
}

.HAAyhRiYgSMxQGEHFaqh2:hover ._1hDEn7Vzgm_uIlkfqfJNV3,
.HAAyhRiYgSMxQGEHFaqh2:focus ._1hDEn7Vzgm_uIlkfqfJNV3 {
  -webkit-transform: translateX(-50%) translateY(8px);
  transform: translateX(-50%) translateY(8px);
}

._1nUdkSGxAqkkbs-jbWpJ9_ ._1hDEn7Vzgm_uIlkfqfJNV3 {
  top: 100%;
  left: 50%;
}

._1nUdkSGxAqkkbs-jbWpJ9_:before,
._1nUdkSGxAqkkbs-jbWpJ9_ ._1hDEn7Vzgm_uIlkfqfJNV3 {
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
}

._1nUdkSGxAqkkbs-jbWpJ9_:before {
  margin-left: 6px;
}

._1nUdkSGxAqkkbs-jbWpJ9_ ._1hDEn7Vzgm_uIlkfqfJNV3 {
  margin-left: 12px;
}

._1nUdkSGxAqkkbs-jbWpJ9_ ._1hDEn7Vzgm_uIlkfqfJNV3:after {
  content: ' ';
  position: absolute;
  top: -12px;
  left: 0;
  height: 12px;
  width: 100%;
  opacity: 0;
  background-color: red;
}

._1nUdkSGxAqkkbs-jbWpJ9_:hover ._1hDEn7Vzgm_uIlkfqfJNV3,
._1nUdkSGxAqkkbs-jbWpJ9_:focus ._1hDEn7Vzgm_uIlkfqfJNV3 {
  -webkit-transform: translateX(-100%) translateY(8px);
  transform: translateX(-100%) translateY(8px);
}

._22RHnuBe7fQaU8W1D4QRvQ ._1hDEn7Vzgm_uIlkfqfJNV3 {
  top: 100%;
  left: 50%;
}

._22RHnuBe7fQaU8W1D4QRvQ:before,
._22RHnuBe7fQaU8W1D4QRvQ ._1hDEn7Vzgm_uIlkfqfJNV3 {
  -webkit-transform: translateX(0);
  transform: translateX(0);
}

._22RHnuBe7fQaU8W1D4QRvQ:before {
  margin-left: -6px;
}

._22RHnuBe7fQaU8W1D4QRvQ ._1hDEn7Vzgm_uIlkfqfJNV3 {
  margin-left: -12px;
}

._22RHnuBe7fQaU8W1D4QRvQ ._1hDEn7Vzgm_uIlkfqfJNV3:after {
  content: ' ';
  position: absolute;
  top: -12px;
  left: 0;
  height: 12px;
  width: 100%;
  opacity: 0;
  background-color: red;
}

._22RHnuBe7fQaU8W1D4QRvQ:hover ._1hDEn7Vzgm_uIlkfqfJNV3,
._22RHnuBe7fQaU8W1D4QRvQ:focus ._1hDEn7Vzgm_uIlkfqfJNV3 {
  -webkit-transform: translateY(8px);
  transform: translateY(8px);
}

/**
 * right tooltip
 */

.gwaIAoubOlXZU1d5UFH8_:before {
  margin-left: -12px;
  margin-bottom: -6px;
}

.gwaIAoubOlXZU1d5UFH8_ ._1hDEn7Vzgm_uIlkfqfJNV3 {
  margin-bottom: -14px;
}

.gwaIAoubOlXZU1d5UFH8_ ._1hDEn7Vzgm_uIlkfqfJNV3 {
  left: 100%;
  bottom: 50%;
}

.gwaIAoubOlXZU1d5UFH8_ ._1hDEn7Vzgm_uIlkfqfJNV3:after {
  content: ' ';
  position: absolute;
  left: -12px;
  top: 0;
  height: 100%;
  width: 12px;
  opacity: 0;
  background-color: red;
}

.gwaIAoubOlXZU1d5UFH8_:hover ._1hDEn7Vzgm_uIlkfqfJNV3,
.gwaIAoubOlXZU1d5UFH8_:focus ._1hDEn7Vzgm_uIlkfqfJNV3 {
  -webkit-transform: translateX(8px);
  transform: translateX(8px);
}

/**
 * left tooltip
 */

._27tf7cKIK_vXAXI3nEb4Fs:before {
  margin-right: -12px;
  margin-bottom: -6px;
}

._27tf7cKIK_vXAXI3nEb4Fs ._1hDEn7Vzgm_uIlkfqfJNV3 {
  margin-bottom: -14px;
}

._27tf7cKIK_vXAXI3nEb4Fs ._1hDEn7Vzgm_uIlkfqfJNV3 {
  right: 100%;
  bottom: 50%;
}

._27tf7cKIK_vXAXI3nEb4Fs ._1hDEn7Vzgm_uIlkfqfJNV3:after {
  content: ' ';
  position: absolute;
  left: 100%;
  top: 0;
  height: 100%;
  width: 12px;
  opacity: 0;
  background-color: red;
}

._27tf7cKIK_vXAXI3nEb4Fs:hover ._1hDEn7Vzgm_uIlkfqfJNV3,
._27tf7cKIK_vXAXI3nEb4Fs:focus ._1hDEn7Vzgm_uIlkfqfJNV3 {
  -webkit-transform: translateX(-8px);
  transform: translateX(-8px);
}

/**
 * Error
 */

._29hzgC1pKE1sLBTLeQVI1S ._1hDEn7Vzgm_uIlkfqfJNV3 {
  background-color: #b34e4d;
}

._29hzgC1pKE1sLBTLeQVI1S._28fZUGLzgepsNsQ-LC9R8X:before {
  border-top-color: #b34e4d;
}

._29hzgC1pKE1sLBTLeQVI1S._1F1TnQNaEoOvp8Pidg7xYb:before {
  border-top-color: #b34e4d;
}

._29hzgC1pKE1sLBTLeQVI1S._3h9tqhBvCMdtG4M0oZd7r8:before {
  border-top-color: #b34e4d;
}

._29hzgC1pKE1sLBTLeQVI1S._1nUdkSGxAqkkbs-jbWpJ9_:before {
  border-bottom-color: #b34e4d;
}

._29hzgC1pKE1sLBTLeQVI1S._22RHnuBe7fQaU8W1D4QRvQ:before {
  border-bottom-color: #b34e4d;
}

._29hzgC1pKE1sLBTLeQVI1S.HAAyhRiYgSMxQGEHFaqh2:before {
  border-bottom-color: #b34e4d;
}

._29hzgC1pKE1sLBTLeQVI1S._27tf7cKIK_vXAXI3nEb4Fs:before {
  border-left-color: #b34e4d;
}

._29hzgC1pKE1sLBTLeQVI1S.gwaIAoubOlXZU1d5UFH8_:before {
  border-right-color: #b34e4d;
}

/**
 * Warning
 */

._1DMQnkoeyGYu93ttcY5cFH ._1hDEn7Vzgm_uIlkfqfJNV3 {
  background-color: #c09854;
}

._1DMQnkoeyGYu93ttcY5cFH._28fZUGLzgepsNsQ-LC9R8X:before {
  border-top-color: #c09854;
}

._1DMQnkoeyGYu93ttcY5cFH._1F1TnQNaEoOvp8Pidg7xYb:before {
  border-top-color: #c09854;
}

._1DMQnkoeyGYu93ttcY5cFH._3h9tqhBvCMdtG4M0oZd7r8:before {
  border-top-color: #c09854;
}

._1DMQnkoeyGYu93ttcY5cFH._1nUdkSGxAqkkbs-jbWpJ9_:before {
  border-bottom-color: #c09854;
}

._1DMQnkoeyGYu93ttcY5cFH._22RHnuBe7fQaU8W1D4QRvQ:before {
  border-bottom-color: #c09854;
}

._1DMQnkoeyGYu93ttcY5cFH.HAAyhRiYgSMxQGEHFaqh2:before {
  border-bottom-color: #c09854;
}

._1DMQnkoeyGYu93ttcY5cFH._27tf7cKIK_vXAXI3nEb4Fs:before {
  border-left-color: #c09854;
}

._1DMQnkoeyGYu93ttcY5cFH.gwaIAoubOlXZU1d5UFH8_:before {
  border-right-color: #c09854;
}

/**
 * Info
 */

._27KfsBsf0dE_2bHynxgG2B ._1hDEn7Vzgm_uIlkfqfJNV3 {
  background-color: #3986ac;
}

._27KfsBsf0dE_2bHynxgG2B._28fZUGLzgepsNsQ-LC9R8X:before {
  border-top-color: #3986ac;
}

._27KfsBsf0dE_2bHynxgG2B._1F1TnQNaEoOvp8Pidg7xYb:before {
  border-top-color: #3986ac;
}

._27KfsBsf0dE_2bHynxgG2B._3h9tqhBvCMdtG4M0oZd7r8:before {
  border-top-color: #3986ac;
}

._27KfsBsf0dE_2bHynxgG2B._1nUdkSGxAqkkbs-jbWpJ9_:before {
  border-bottom-color: #3986ac;
}

._27KfsBsf0dE_2bHynxgG2B._22RHnuBe7fQaU8W1D4QRvQ:before {
  border-bottom-color: #3986ac;
}

._27KfsBsf0dE_2bHynxgG2B.HAAyhRiYgSMxQGEHFaqh2:before {
  border-bottom-color: #3986ac;
}

._27KfsBsf0dE_2bHynxgG2B._27tf7cKIK_vXAXI3nEb4Fs:before {
  border-left-color: #3986ac;
}

._27KfsBsf0dE_2bHynxgG2B.gwaIAoubOlXZU1d5UFH8_:before {
  border-right-color: #3986ac;
}

/**
 * Success
 */

._3e1CeLsGP4ICEW_yzVeK-6 ._1hDEn7Vzgm_uIlkfqfJNV3 {
  background-color: #458746;
}

._3e1CeLsGP4ICEW_yzVeK-6._28fZUGLzgepsNsQ-LC9R8X:before {
  border-top-color: #458746;
}

._3e1CeLsGP4ICEW_yzVeK-6._1F1TnQNaEoOvp8Pidg7xYb:before {
  border-top-color: #458746;
}

._3e1CeLsGP4ICEW_yzVeK-6._3h9tqhBvCMdtG4M0oZd7r8:before {
  border-top-color: #458746;
}

._3e1CeLsGP4ICEW_yzVeK-6._1nUdkSGxAqkkbs-jbWpJ9_:before {
  border-bottom-color: #458746;
}

._3e1CeLsGP4ICEW_yzVeK-6._22RHnuBe7fQaU8W1D4QRvQ:before {
  border-bottom-color: #458746;
}

._3e1CeLsGP4ICEW_yzVeK-6.HAAyhRiYgSMxQGEHFaqh2:before {
  border-bottom-color: #458746;
}

._3e1CeLsGP4ICEW_yzVeK-6._27tf7cKIK_vXAXI3nEb4Fs:before {
  border-left-color: #458746;
}

._3e1CeLsGP4ICEW_yzVeK-6.gwaIAoubOlXZU1d5UFH8_:before {
  border-right-color: #458746;
}

._1gtKHUD6jbfx2tjNwcIHnU.LXZJB8PZ6HibjgTaSHxRb:hover:after,
._1gtKHUD6jbfx2tjNwcIHnU.LXZJB8PZ6HibjgTaSHxRb:hover:before {
  opacity: 0;
  visibility: hidden;
}

._1gtKHUD6jbfx2tjNwcIHnU.LXZJB8PZ6HibjgTaSHxRb:hover ._1hDEn7Vzgm_uIlkfqfJNV3 {
  opacity: 0;
  visibility: hidden;
}

._3G8iaGTrfnUcMsGkHbICjf:after,
._3G8iaGTrfnUcMsGkHbICjf:before {
  opacity: 1;
  visibility: visible;
}

._3G8iaGTrfnUcMsGkHbICjf ._1hDEn7Vzgm_uIlkfqfJNV3 {
  opacity: 1;
  visibility: visible;
}

._3G8iaGTrfnUcMsGkHbICjf._3h9tqhBvCMdtG4M0oZd7r8 ._1hDEn7Vzgm_uIlkfqfJNV3 {
  -webkit-transform: translateX(-50%) translateY(-8px);
  transform: translateX(-50%) translateY(-8px);
}

._3G8iaGTrfnUcMsGkHbICjf._28fZUGLzgepsNsQ-LC9R8X ._1hDEn7Vzgm_uIlkfqfJNV3 {
  -webkit-transform: translateX(-100%) translateY(-8px);
  transform: translateX(-100%) translateY(-8px);
}

._3G8iaGTrfnUcMsGkHbICjf._1F1TnQNaEoOvp8Pidg7xYb ._1hDEn7Vzgm_uIlkfqfJNV3 {
  -webkit-transform: translateY(-8px);
  transform: translateY(-8px);
}

._3G8iaGTrfnUcMsGkHbICjf.HAAyhRiYgSMxQGEHFaqh2 ._1hDEn7Vzgm_uIlkfqfJNV3 {
  -webkit-transform: translateX(-50%) translateY(8px);
  transform: translateX(-50%) translateY(8px);
}

._3G8iaGTrfnUcMsGkHbICjf._1nUdkSGxAqkkbs-jbWpJ9_ ._1hDEn7Vzgm_uIlkfqfJNV3 {
  -webkit-transform: translateX(-100%) translateY(8px);
  transform: translateX(-100%) translateY(8px);
}

._3G8iaGTrfnUcMsGkHbICjf._22RHnuBe7fQaU8W1D4QRvQ ._1hDEn7Vzgm_uIlkfqfJNV3 {
  -webkit-transform: translateY(8px);
  transform: translateY(8px);
}

._3G8iaGTrfnUcMsGkHbICjf._27tf7cKIK_vXAXI3nEb4Fs ._1hDEn7Vzgm_uIlkfqfJNV3 {
  -webkit-transform: translateX(-8px);
  transform: translateX(-8px);
}

._3G8iaGTrfnUcMsGkHbICjf.gwaIAoubOlXZU1d5UFH8_ ._1hDEn7Vzgm_uIlkfqfJNV3 {
  -webkit-transform: translateX(8px);
  transform: translateX(8px);
}

._22zp8EQXKKNOuVvez4sTXJ {
}

._3etSR0mF58eGjAnJodqLYz {
}

.FHYFAfqS5fzBK3KTnHVyr {
}

._3iXzGRNcMuooKBD4DFtU8G {
}

.Twr1rKAP05ueFtoUGE5iK {
}

._2Wk090muY5Dq_w2LOJ8a__ {
}

._3L4HHj7fgNZNxgLw8CIkTB {
}

._34E7WQVbCw-7rF1xEMrimF {
}

._1ZIQPFwc4vy0ho49A9WGKG {
}

._9Q6iMghTArbQss9kRRP5g {
}

._14olJC4Mj5n3-yt6WO3yoa {
}

.A5lcuTQ8LwRGf5aON1LAw {
}

._2gUE2gUuKqkF4orcD0otja {
}

.cYBSiRZI7pLAfmDBybv1x {
}

._23j-somgu1A4z0gwo1D8zs {
}